*.o
*.lo
*.a
*.la
*~
.#*
.swp
.DS_Store
*.db
.localized
.deps
.libs
autoscan.log
autom4te.cache
config.log
config.status
configure.scan
libtool
Makefile
config/config.h
config/stamp-h1
build
*TAG*
*PATH
*.lhe
*.gz
test_parse
test_render
